@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

:root {
	--text-gradient: linear-gradient(182.02deg, #0C0F22 21.8%, #29346B 89.86%) no-repeat fixed;
	--bg-gradient: linear-gradient(360deg, rgb(56, 55, 55) 1%, rgb(0, 0, 0) 100%) no-repeat fixed;
}

* {
	font-family: 'Inter', sans-serif;
}

button {
	border: none;
	background: none;
}

body {
	height: 100%;
	padding: 0 1rem;
	margin: 0;
	background: var(--bg-gradient);
	color: white;
}

header {
	display: flex;
	flex-direction: column;
}

.hamburger-button {
	display: none;
}


a {
	color: white;

}

article {
	display: flex;
	flex-wrap: wrap;
}

.article--heading {
	flex-basis: 100%;
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

.article--text {
	flex-basis: 70%;
}

article > img {
	width: 25%;
	padding: 20px;
	border-radius: 2rem;
	filter: drop-shadow(2px 2px 2px black);
}

.galeria {
	display: flex;
	flex-wrap: wrap;

}

.galeria > img {
	width: 25%;
	padding: 20px;
	border-radius: 2rem;
	filter: drop-shadow(2px 2px 2px black);
}

/* Grid */
.grid-container {
	display: grid;
	grid-gap: 3rem;
	grid-template-areas:
    'header'
    'main'
    'footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.grid-container > header {
	grid-area: header;
}

.grid-container > main {
	grid-area: main;

}

.grid-container > footer {
	grid-area: footer;
}

.header--titulo {
	padding: 0;
	margin: 1rem 0;
	font-size: 4.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 3.4rem;
	letter-spacing: -0.08em;


}

.menu {
	display: flex;
	padding: 0;
	margin: 0;
	gap: 1rem;
	justify-items: center;
}

li {
	list-style-type: none;

}

header nav li {
	padding: 0;
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.10rem;
}

.menu--unselected {

	position: relative;
	color: white;
	text-decoration: none;

}

/*
Hover underline animado
*/

.menu--unselected:hover {
	color: white;
}

.menu--unselected::before {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.3s ease;
	content: "";
}

.menu--unselected:hover::before {
	transform: scaleX(1);
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.menu--selected {
	text-decoration-line: underline;
}

.footer--socials {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	gap: 1rem;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
}

@media only screen and (max-width: 992px) {
	article {
		flex-wrap: wrap;

	}
}

@media only screen and (max-width: 768px) {
	article {
		font-size: 1rem;
	}

	article > img, .galeria > img {
		display: none;
	}

	header {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
	}

	.header--titulo {
		font-size: 3rem;
		display: inline-block;
		flex-basis: 75%;
	}

	.hamburger-button {
		display: inline-block;
		align-self: center;
	}

	nav {
		flex-basis: 100%;
		background: var(--bg-gradient);
	}

	.menu {
		flex-direction: column;
		z-index: 1;
		flex-basis: 100%;

	}

	.menu-item {
		font-size: 1.2rem;
		line-height: 0.1%
	}
}

.hidden {
	display: none;
}


/* Gradient heading animation*/

.gradient-text {
	background: linear-gradient(to right, crimson, #f87789);
	background-size: 200% 200%;
	animation: rainbow 2s ease-in-out;
	background-clip: text;
	-webkit-background-clip: text;
	transition: color 4s ease-in-out;
}

.gradient-text:hover {
	color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
	0% {
		background-position: left
	}
	50% {
		background-position: right
	}
	100% {
		background-position: left
	}
}
