@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

:root{
	--text-gradient: linear-gradient(182.02deg, #0C0F22 21.8%, #29346B 89.86%) no-repeat fixed;
}

* {
	font-family: 'Inter', sans-serif;
}

body {
	background: var(--text-gradient);
	color: white;
	height: 100%;
	margin: 0;
	padding: 0 1rem;
}

header {
}

a {
	color: white;
}
a:hover{
	text-decoration-color: var(--text-gradient);
	text-decoration-line: underline;
}
article{
	display: flex;
}
article > img{
	padding: 20px;
	border-radius: 2rem	;
	height: 75%;
	width: 100%;
}
/* Grid */
.grid-container {
	display: grid;
	grid-gap:20px;
	grid-template-areas:
    'header'
    'main'
    'footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}
.grid-container>header{
	grid-area: header;
}
.grid-container>main{
	grid-area: main;

}
.grid-container>footer{
	grid-area: footer;
}

.header--titulo {
	font-size: 5rem;
	font-style: normal;
	font-weight: 800;
	letter-spacing: -0.08em;
	line-height: 104px;
	margin: 0;
	padding: 0;

}

.menu {
	display: flex;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;

}

header nav li {
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.07em;
	line-height: 32px;
	padding: 0;
}

.menu--unselected {

	background: linear-gradient(180deg, #737FF3 0%, rgba(70, 86, 227, 0.45) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;

}

.menu--selected {
	text-decoration-line: underline;
}

.footer--socials {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 0;
	padding: 0;
}

footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

article {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 24px;
}

