@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

:root {
	--text-gradient: linear-gradient(182.02deg, #0C0F22 21.8%, #29346B 89.86%) no-repeat fixed;
}

* {
	font-family: 'Inter', sans-serif;
}

body {
	animation: AnimationName 5s ease infinite alternate;
	background: linear-gradient(180deg, #000000, #383838);
	background-size: 400% 400%;
	color: white;
	height: 100%;
	margin: 0;
	padding: 0 1rem;
}


@keyframes AnimationName {
	0% {
		background-position: 0 0%
	}
	50% {
		background-position: 10% 15%
	}
	100% {
		background-position: 25% 20%
	}
}

header {
	display: flex;
	flex-direction: column;
}

a {
	color: white;

}

article {
	display: flex;
	justify-content: center;
	align-items: center;
}

article > img {
	border-radius: 2rem;
	padding: 20px;
	width: 25%;
}

/* Grid */
.grid-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
    'header'
    'main'
    'footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.grid-container > header {
	grid-area: header;
}

.grid-container > main {
	grid-area: main;

}

.grid-container > footer {
	grid-area: footer;
}

.header--titulo {
	font-size: 4.5rem;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.08em;
	margin: -0.5rem;
	padding: 0;

}

.menu {
	display: flex;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;

}

header nav li {
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.10rem;
	line-height: 32px;
	padding: 0;
}

.menu--unselected {

	color: white;
	position: relative;
	text-decoration: none;

}
/*
Hover underline animado
*/

.menu--unselected:hover{
	color:white;
}

.menu--unselected::before {
	background-color: white;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.3s ease;
	width: 100%;
}

.menu--unselected:hover::before {
	transform: scaleX(1);
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.menu--selected {
	text-decoration-line: underline;
}

.footer--socials {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 0;
	padding: 0;
}

footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

article {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 24px;
}

