.titulo {
    background-color: beige;
    border: 5px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    -webkit-text-fill-color: bisque;
    -webkit-text-stroke: 1px black;
}
.img-ejemplo{
    width: 300px;
    height: auto;
    flex-basis:25%;
    border-radius: 5px;
}

.tarjeta {
    background: #b4b4b4;
    border-radius: 10px;
    text-align: justify;
}
.contenido-tarjeta{
    display: flex;
    flex-wrap: wrap;
}
.texto-tarjeta{
    flex-basis:75%;
    /*margin-left: 20px;*/
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: bold;
    text-align: center;
    border: 2px solid grey;
    background-color: bisque;
    border-radius: 5px;
}

footer {
    margin: 10px;
font-style: italic;
    text-align: center;
}