.img-ejemplo{
    width: 300px;
    height: auto;
}

.tarjeta {
    background: #b4b4b4;
    border-radius: 10px;
    padding:10px;
}
.contenido{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.contenido-tarjeta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.texto-tarjeta{
    flex-basis:50%;
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 300;
}