.titulo {
    background-color: beige;
    border: 5px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    -webkit-text-fill-color: bisque;
    -webkit-text-stroke: 1px black;
}
.tarjeta {
    background: #b4b4b4;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

.contenido-tarjeta {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.texto-tarjeta {
    align-self: center;
    flex-basis: 400px;
    font-size: 18px;

}
.imagen-tarjeta {
    width: 250px;
    height: auto;
    border-radius: 5px;
    align-self: center;
}


body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-weight: 800;
}

h2 {
    font-weight: bold;
    text-align: center;
    border: 2px solid grey;
    background-color: bisque;
    border-radius: 5px;
}

footer {
    margin: 10px;
    font-style: italic;
    text-align: center;
}